body{
    background: rgb(3, 2, 71);
    color:rgb(217, 217, 248);
    margin: 0;
}

header{
   text-align: center;
   font-size: 50px;
   border-bottom: solid 2px rgb(217, 217, 248);
   margin-left: 80;
   margin-right: 80;
}

.inicio{
 display: flex;
 background-color: rgb(217, 217, 248));
 padding-bottom: 80px;
 padding-top: 70px;
 margin-top: 20px;
 justify-content: center;
 font-family: "Lexend", sans-serif;
}
.chamada-texto{
    margin-right:4% ;
}
.filmes{display:flex ;
overflow-x: auto;
gap: 20px;
justify-content: center;
}

h2{ 
text-align: center;

}

img{
opacity:0.5 ;
width: 200px;
height: 300px;
}

img:hover{
    opacity:1.0 ;
    border: 2px solid rgb(217, 217, 248);
}